body{ font-family: Arial, Helvetica, sans-serif;
    background-image: url("1280x720_lines-abstract-background-point-scheme-background-free.jpg");
    background-attachment: fixed;
}
#title{
 color :wheat;
 text-align: center;
 
 
}
#member{
    border: 2px solid black;
    margin-right: 922px;
    background-color: powderblue;
    border-radius: 26px;
    text-align: left;
    margin-left: 74px;}
#imagin{
    margin-left: 46px;
    margin-right: 46px;

    text-align:center;

}