body{ font-family: Arial, Helvetica, sans-serif;
    background-image: url("1280x720_lines-abstract-background-point-scheme-background-free.jpg");
    background-attachment: fixed;
}
#title{
 color :wheat;
 text-align: center;
 
 
}
#member{
    border: 1px solid black;
    margin-right: 470px;
    background-color: powderblue;
    border-radius: 26px;
    text-align: center;
}